<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    
    <main role="main">
      
      <div class="container course_content">
        {{ content }}
      </div>
    </main>

    <script>
    var config = {
        startOnLoad:true,
        theme: 'forest',
        flowchart:{
                useMaxWidth:false,
                htmlLabels:true
            }
    };
    mermaid.initialize(config);
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    </script>
    {% include footer.html %}

  </body>
</html>

